<!DOCTYPE html>
<html>
    <head>
        <meta content="charset=utf-8" />
        <link rel="stylesheet" href="inner.css">
    </head>
    <body>
        <div id="container"></div>
        <script src="<%= scriptName %>"></script>
    </body>
</html>
